/* universal  settings */
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a:hover{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
#container{
    margin-right: 0;
}
/* header */
#header{
    position: fixed;
    top:0;
    width:100%;

    z-index:10000;
    background-color: rgba(1,1,1,0.5);
}
#header .columns{
    display: flex;
}
#header .columns a i{
    color: #fff;
    padding: 10px;
    background-color: #127CF0;
    border-radius: 25px;
    font-size: 30px;
    margin-right: 10px;
}
#header h1{
    color: #fff;
    letter-spacing: 3px;
}
#header ul{
    display: flex;
    padding-top: 12px;
}
#header ul li{
    margin-right: 30px;
}
#header ul li a span{
    color: #037CF0;
}
#header ul li a{
    color: #fff;
    letter-spacing: 3px;
}
#header ul li button{
    margin-top: -5px;
}
/* section-1 */
#section-1{
    height:100vh;
    width: 100%;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/banner.jpg");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
#section-1 .banner
{   
    width:100%;
    height:100%;
    position:absolute;
    z-index: 100;
    
    top:0 ;
}
#section-1 .small{
background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
animation: 16s  snowfall linear infinite;
}
#section-1 .medium{
background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
animation: 14s  snowfall linear infinite;
}
#section-1 .large{
background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
animation: 12s  snowfall linear infinite;
}
.small-2,.medium-2,.large-2{
    transform: translateY(-100%);
    animation-delay: 5s !important;
}
@keyframes snowfall{
    0%{
        transform: translate(0,-100%);
    }
    100%{
        transform: translate(6%,100%);
    }
}
#section-1 .sec-1-image{
    position: relative;
}
#section-1 .sec-1-info{
    position: absolute;
    top: 50%;
    left: 3%;
    color: #fff;
}
#section-1 .sec-1-info h6{
    color: #F0CD03;
    letter-spacing: 2px;
    font-weight: 800;
}
#section-1 .sec-1-info h4{
    letter-spacing: 2px;
    font-weight: 800;
}
#section-1 .sec-1-info h1{
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 3px;
}
#section-1 .sec-1-info ul{
    display: flex;
}
#section-1 .sec-1-info ul li button{
    border-radius: 25px;
    padding: 6px 20px;
}
#section-1 .sec-1-info ul li{
    margin-right: 5px;
} 
#section-1 .sec-1-info .btn-light{
    color: #037CF0;
}
/* section-2 */
#section-2{
    margin-bottom: 50px;
}
#section-2 .sec-2a{
    text-align: center;
    margin-bottom: 80px;
}
#section-2 .sec-2a h6{
    color: #037CF0;
    letter-spacing: 2px;
}
#section-2 .sec-2a h2{
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 3px;
}
#section-2 .row h5{
    padding: 30px 20px;
    font-size: 17px;
    font-weight: 600;
}
#section-2 .progress{
    margin-top: -18px;
    margin-left: 18px;
    height: 10px;
}
/* section-3 */
#section-3{

    width: 100%;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/serve.jpg");
    background-size: 100% 100%;
    margin-bottom: 50px;
}
#section-3 .services{
    text-align: center;
    left: 50%;
    padding-top: 7%;
    margin-bottom: 50px;
}
#section-3 .services p{
    color: #037CF0;
    letter-spacing: 3px;
    margin-bottom: 0;
}
#section-3 .services h2{
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
#section-3 .services button{
    border-radius: 25px;
    padding: 4px 25px;
    margin-right: 25px;
}
#section-3 .services-2{
    text-align: center;
}
#section-3 .services-2 i{
    color: #FFD900;
    font-size: 30px;
}
#section-3 .services-2 h4 , p{
    color: #fff;
    letter-spacing: 3px;
}
#section-3 .services-2 h4{
    font-size: 20px;
    font-weight: 600;
}
#section-3 .services-2 .columns{
    background-color:rgba(1,1,1,0.5);
    margin-right: 10px;
    margin-left: 50px;
    padding: 40px;
    border-radius: 10px;
}
#section-3 .services-2 .columns:hover{
    background-color: #037CF0;
}
/* section-4 */

/* section-5 */
#section-5{
    margin-bottom: 50px;
}
#section-5 .projects{
    text-align: center;
}
#section-5 .projects p{
    color: #037CF0;
    letter-spacing: 3px;
    margin-bottom: 0;
}
#section-5 .projects h2{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 3px;
}
#section-5 .row{
    margin-top: 30px;
}
#section-5 .sec-5-image{
    position: relative;
    cursor: pointer;
}
#section-5 .sec-5-image a h5{
    position: absolute;
    top: 75%;
    left: 8%;
    color: #fff;
    padding: 10px 107px;
    background-color: #000;
    transform: rotateY(-180deg);
     opacity: 0; 
    transition: 1s;
}
#section-5 .sec-5-image:hover h5{
    opacity: 1;
    transform: rotateY(0deg);
}
/* section-6 */
#section-6{
    padding: 100px 0px;
    width: 100%;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/stats.jpg");
    background-size: 100% 100%;
    
}
#section-6 i{
    color: #FFC107;
    font-size: 40px;
    padding-top:10px;
    
}
#section-6 h6{
    color: #fff;
    font-size: 20px;
}
#section-6 h4{
    color: #fff;
    
    font-size: 50px;
}
/* section-7 */
#section-7{
    
    overflow: hidden;
    
    width: 100%;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/testimonials.jpg");
    background-size: 100% 100%;
}
#section-7 .sec-7a p{
    color: #127CF0;
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 5px;
}
#section-7 .sec-7a{
    padding-top: 40px;
}
#section-7 .sec-7a h2{
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
}
#section-7 .sec-7b i{
    font-size: 40px;
}
#section-7 .sec-7b{
    width:500%;
    display: flex;
    margin-top: 60px;
    animation: 30s sec-7 linear infinite;
}
#section-7 .sec-7b h6{
    color: #127CF0;
}
#section-7 .sec-7b p{
    color: #333;
    padding: 1% 20%;
}
#section-7 .sec-7b .carousel{
    padding-bottom: 40px;
    width: 20%;
}
@keyframes sec-7{
    0%,15%{
        transform: translateX(0);
    }
    20%,35%{
        transform: translateX(-20%);
    }
    40%,55%{
        transform: translateX(-40%);
    }
    60%,75%{
        transform: translateX(-60%);
    }
    80%,95%{
        transform: translateX(-80%);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* section-8 */
#section-8 p{
    color: #127CF0;
    margin-bottom: 0;
}
#section-8 h2{
    color: #fff;
    margin-bottom: 50px;
}
#section-8{
    width: 100%;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/30-10-2018/recognize_demo_Free/1686477365/web/images/contact.jpg");
    background-size: 100% 100%;
    padding: 60px 0px 0px 0px;
}
#section-8 input[type="text"],
#section-8 textarea
{
    
    background:none;
    width:100%;
    border:#727373 2px solid;
    margin-bottom: 18px;
    padding:21px 12px;
}
#section-8 textarea{
    margin:0;
    padding:0;

}
#section-8 input[type="text"]::placeholder,
#section-8 textarea::placeholder{
    color: #fff;
}
#section-8 textarea::placeholder{
    padding:20px;
}
#section-8 button{
    padding: 10px 30px;
    margin-top: 30px;
    border: none;

}
#section-8 button:hover{
    background-color: #FFD900;
}
#section-8 .sec-8b{
    padding-bottom: 80px;
}
#section-8 .sec-8b i{
    color: #FFD900;
    font-size: 35px;
    padding: 20px 0px;
}
#section-8 .sec-8b h5,h6{
    color: #fff;
    letter-spacing: 3px;
}
/* footer */
#footer{
    padding: 60px 0px;
}
#footer ul li a{
    color: #515457;
}
#footer  .reco-logo{
    color: #fff;
    background-color: #127CF0;
    padding: 10px;
    border-radius: 25px;
    font-size: 30px;
    margin-right: 10px;
}
#footer h1{
    color: #000;
    display: inline-block;
}
#footer .footer-social a i{
    color: #000;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 60px;
    font-size: 20px;
    margin-right: 20px;
}
#footer ul li{
    margin-bottom: 20px;
}
#footer .footer-social{
    padding-top: 40px;
}
#footer .footer-social a i:hover{
    color: #127CF0;
    border-color: #127CF0;
}
/* media query */
@media (max-width:992px)
{
    header .columns-2{
        display: none;
    }
    #section-3 .services-2 .columns{
        margin-bottom: 10px;
    }
}
@media (max-width:576px)
{
    #section-1 .sec-1-info h1 {
        font-size: 50px;
    }
    #section-2 .sec-2a h2  {
        font-size: 35px;
    }
}

}
@media (min-width:320px)
{
    

#header .columns a i{
    font-size: 20px;
}
#header h1{
    font-size: 30px;
}
}